<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Nanotomy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
</head>
<style>
    hr.light{
        border-top: 1px solid #d5d5d5;
        width: 75%;
    }
    footer {
        background-color: #3f3f3f;
        color: #d5d5d5;
        padding-top: 2rem;
        margin-top: 40px;
    }
</style>

<body>
<!--Nav bar-->
<div th:insert="~{template :: basenavbar}"></div>
<!--Text on top of the page-->
<div class="container" style="margin-bottom: 50px">
    <div class="row">
        <div class="col-10 offset-1">
            <h1 class="display-1">
                Welcome to Nanotomy
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>

<!--Cards-->
<div class="container-fluid padding">
    <div class="row padding justify-content-evenly">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.xVDiYeLGR1I4JklbxqgCRwHaFL%26pid%3DApi&f=1" width="300px" height="250px">
                <div class="card-body">
                    <h4 class="card-title">Publications</h4>
                    <p class="card-text">Browse publications by Nanotomy from 2013 to present.</p><br>
                    <a href="/publications" class="btn btn-outline-primary">Browse</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.87wfcQKX2w_pmdAwKqrJqgHaHa%26pid%3DApi&f=1"  width="300px" height="250px">
                <div class="card-body">
                    <h4 class="card-title">EM database</h4>
                    <p class="card-text">Browse the Nanotomy database for electron microscopy images and make annotations.</p>
                    <a href="#" class="btn btn-outline-primary">Browse</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.blmxRrUElXf4mjXDfHNlfQHaHa%26pid%3DApi&f=1" width="300px" height="250px">
                <div class="card-body">
                    <h4 class="card-title">Other EM databases</h4>
                    <p class="card-text">Browse electron microscopy databases from other institutes.</p><br>
                    <a href="#" class="btn btn-outline-primary">Browse</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<div th:insert="~{template :: base-footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous">
    </script>

</body>
</html>