<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">

</head>

<body>
<div class="container" style="margin-bottom: 50px">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-primary bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Nanotomy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Other EM databases
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Cell image library</a></li>
                                <li><a class="dropdown-item" href="#">EMPIAR</a></li>
                                <li><a class="dropdown-item" href="#">UMich Virtual Microscopy</a></li>
                                <li><a class="dropdown-item" href="#">IDR</a></li>
                                <li><a class="dropdown-item" href="#">Neurodata</a></li>
                                <li><a class="dropdown-item" href="#">Radboud UMC</a></li>
                                <li><a class="dropdown-item" href="#">VMD</a></li>
                                <li><a class="dropdown-item" href="#">BISE</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-primary" type="button">Login</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container" style="margin-bottom: 50px">
    <div class="row">
        <div class="col-10 offset-1">
            <h1>
                Welcome to Nanotomy
            </h1>
            <p>
                Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy textDummy textDummy
                textDummy textDummy text Dummy text Dummy textDummy textDummy text Dummy text Dummy textDummy text Dummy
                text                Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy
                textDummy textDummy textDummy textDummy text Dummy text Dummy textDummy textDummy text Dummy text Dummy
                textDummy text Dummy text
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-4">
            <a class="btn btn-outline-primary btn-lg"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ZwzwmKwOR9hrYe2UZe28UAHaDx%26pid%3DApi&f=1" width="300px" height="150px" style="border-radius: 5px"><br>
                <p>Publication</p><br><p>Browse publications by Nanotomy from 2013 to present</p>
            </a>
        </div>
        <div class="col-4">
            <a class="btn btn-outline-primary btn-lg"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.N4OPUEH3mMMrLgLsqGRmNAHaF7%26pid%3DApi&f=1" width="300px" height="150px" style="border-radius: 5px"><br>
                <p>EM database</p><br><p>Browse electron microscopy images</p></a>
        </div>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous">
    </script>

</body>
</html>