<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Nanotomy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
</head>
<body>

<!--Nav bar-->
<div th:fragment="basenavbar">
    <div class="container" style="margin-bottom: 50px">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-primary bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home">Nanotomy</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <button class="btn btn-outline-primary" type="button">Login</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<!--Footer-->
<div th:fragment="base-footer">
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-6 justify-content-center">
                    <h3>Nanotomy.org</h3>
                    <hr class="light">
                    <p>050-1234567</p>
                    <p>email@nanotomy.com</p>
                    <p>Streetname xx</p>
                    <p>Groningen, Groningen, 97xx</p>
                </div>
                <div class="col-md-6">
                    <hr class="light">
                    <p>Our Hours</p>
                    <hr class="light">
                    <p>Monday - Thursday: 08:30 - 17:00</p>
                    <p>Friday: 08:30 - 15:00</p>
                    <p>Saturday & Sunday: Closed</p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>